# Documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      actions-minor:
        update-types:
          - minor
          - patch

  # Maintain dependencies for npm
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    groups:
      # Less likely to change published bundle.
      npm-development:
        dependency-type: development
        update-types:
          - minor
          - patch

      # Need to be updated and bundled manually.
      # npm-production:
      #   dependency-type: production
      #   update-types:
      #     - patch
